.sec
  .title Create Assignment
#name
  .title Assignment Name:
  %input{:type => :text}
.third
  .title Rulesets:
  #current_rulesets
    %ul
      %li Nothing here!
  .green_button#add_ruleset New
.third
  .title Assumptions:
  #current_assumptions
    %ul
      %li Nothing here!
  .blue_button New
.third
  .title Syntax:
  #current_syntax
    %ul
      %li Nothing here!
  .blue_button New
.clear
#submit
  .sec
    .title Post Assignment
